* {
    margin: 0px;
    padding:0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    border: 0;
    margin-left: 0px;
    
}
.landing-img{
    background-image:url("../components/vegetable.jpg");
    padding: 0px;
    background-size: cover;
    padding-left: 0px;
    padding-bottom: 00px;
    padding-top: 00px;
    margin: 0px;
    margin-left: 0px;
    height: 772px;
}
.test1{
    padding-bottom: 200px;
    padding-top: 20px;
    padding-left: 550px;
    font-style: oblique;
    color: hsl(0, 100%, 99%);
    font-family: Arial;
    border: 0;
}
.test{
    padding-top: 200px;
    padding-left: 550px;
    font-style: oblique;
    color: hsl(0, 100%, 99%);
    font-family: Arial;
    border: 0;
}
.click{
    font-size: "2em";
    width: 30;
    height: 30;
	display:"inline-block";
	padding:"35px";
    padding-left: 700px;
	margin:"100px";
    color: "#333";
    font-weight: "bold";
    line-height: "1px"; 
    border: 0;
}
